<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<div class="container" style="margin: 5px auto;">
    <%- include('./partials/flash')  %> 
</div>

<%- include('./partials/footer') %> 