<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 
    
<div class="container">
    <h2>The Landing Page... Go for Blogs</h2>
</div>






<%- include('./partials/footer') %> 

